body {
    min-height: 100vh;
    background-color: rgb(122, 122, 122, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 80vh;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    position: relative;
    height: 90%;
    width: 90%;
    background-image: url(./picture/sea.jpg);
    background-color: blanchedalmond;

    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 5px solid black;
}

.hour {
    position: absolute;
    width: 3%;
    height: 26%;
    background: black;
    top: -24%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: bottom;
    transform: rotate(0deg);
    z-index: 1;

}

.minute {
    position: absolute;
    width: 2%;
    height: 45%;
    background: black;
    top: -44%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: bottom;
    transform: rotate(0deg);


}

.second {
    position: absolute;
    width: 1%;
    height: 46%;
    background: red;
    top: -45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: bottom;
    transform: rotate(0deg);


}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 5%;
    height: 5%;
    border-radius: 100%;
    background: white;
    border: 3px solid #1b1b1b;
    margin: auto;
    z-index: 1;

}

@media only screen and (max-width: 640px) {
    .clock {
        width: 35vh;
        height: 35vh;
    }
}